* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Commissioner;
  font-size: 16px;
  background-color: #fafafa;
}

h1 {
  font-size: 1.6rem;
}
h2 {
  font-size: 1.1rem;
}

p {
  color: hsl(0, 0%, 48%);
  line-height: 2rem;
  font-weight: 500;
  margin: 2rem 0;
}

.flex-seperate {
  display: flex;
  justify-content: space-between;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.header {
  img {
    visibility: hidden;
    width: 100%;
  }
}
.header-background-mobile {
  background: url("../images/image-hero-mobile.jpg");
  background-size: 100% 100%;
}
.navbar {
  position: absolute;
  color: white;
  width: 90%;
  top: 30px;
  margin-left: 5%;
  height: 31px;
  line-height: 31px;

  .title {
    float: left;
  }
  .dropdown {
    float: right;

    img {
      visibility: visible;
    }
  }
}

.main-content-wrapper {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.body-base {
  background-color: white;
  border-radius: 0.5rem;
  padding: 3rem 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.inner-base {
  border: 1px solid #d3d3d3;
  border-radius: 0.5rem;
  width: 100%;
  padding: 30px;
  margin-top: 2rem;
  .relative-container {
    position: relative;
    margin-bottom: 2rem;
    p {
      display: inline-block;
      margin: 0;
      position: relative;
      top: -7px;
      left: 5px;
    }
  }
  h1 {
    display: inline-block;
    font-size: 2rem;
  }

  h2:nth-of-type(2) {
    color: hsl(176, 72%, 28%);
    margin-top: 0.5rem;
  }
}

.button {
  color: white;
  background-color: hsl(176, 72%, 28%);
  border-radius: 4rem;
  padding: 15px 40px;
  font-weight: 500;
  float: left;
  line-height: 32px;
  justify-content: center;
}

.black-button {
  float: right;
  position: relative;

  img {
    height: 59px;
  }
}

.width-100 {
  width: 100%;
}

.left-align {
  text-align: left;
}

.article-1 {
  padding-top: 3rem;
  position: relative;
  top: -50px;
}
.logo-wrapper {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(50%, -50%);
}

.backers {
  h1 {
    font-size: 2rem;
    margin-top: 2rem;
  }
  p {
    margin-top: 0.5rem;
  }
  &:nth-of-type(1) {
    h1 {
      margin-top: 0;
    }
  }
  &:nth-of-type(2) {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
  }
}
.progress-bar {
  width: 100%;
  background-color: #ebecf0;
  border-radius: 2rem;
  height: 20px;
}

.inner-progress {
  background-color: hsl(176, 72%, 28%);
  height: 100%;
  width: 80%;
  border-radius: 2rem;
}
// Hide desktop elements
.desktop-image {
  display: none;
}
