// Variables
$light-grey: #ebecf0;
$grey: #d3d3d3;
$light-green: hsl(176, 50%, 47%);
$dark-green: hsl(176, 72%, 28%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.abs-cover {
  z-index: 1;
  position: absolute;
  opacity: 0.5;
  width: 100%;
  height: 4000px;
  background-color: black !important;
  li {
    color: red !important;
  }
}
body {
  font-family: Commissioner;
  font-size: 16px;
  background-color: #fafafa;
}

h1 {
  font-size: 1.6rem;
}
h2 {
  font-size: 1.1rem;
}

p {
  color: hsl(0, 0%, 48%);
  line-height: 2rem;
  font-weight: 500;
  margin: 2rem 0;
}

input {
  font-family: Commissioner;
  font-size: 16px;
  font-weight: 700;
  &::-webkit-out-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.zIndex {
  z-index: 2;
}

.flex-seperate {
  display: flex;
  justify-content: space-between;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.header {
  img {
    visibility: hidden;
    width: 100%;
  }
}
.header-background-mobile {
  background: url("../images/image-hero-mobile.jpg");
  background-size: 100% 100%;
}
.reward-page-navbar {
  height: 31px;
  line-height: 32px;
  content: "";
  clear: both;

  .reward-title {
    float: left;
  }
  .close-reward-page {
    float: right;
    cursor: pointer;
  }
}

.navbar {
  position: absolute;
  color: white;
  width: 90%;
  top: 30px;
  margin-left: 5%;
  height: 31px;
  line-height: 31px;
  z-index: 2;

  .title {
    float: left;
  }

  .dropdown-button {
    float: right;
    cursor: pointer;
    img {
      visibility: visible;
    }
  }
}

.dropdown {
  z-index: 2;
  background-color: white;
  position: absolute;
  width: 90%;
  margin-left: 5%;
  top: 90px;
  border-radius: 0.5rem;
  font-weight: 500;
  font-size: 18px;

  ul {
    list-style-type: none;
  }
  li {
    padding: 20px;
    border-bottom: 1px solid #e8e8e8;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

.main-content-wrapper {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.body-base {
  background-color: white;
  border-radius: 0.5rem;
  padding: 3rem 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.inner-base {
  border: 1px solid $grey;
  border-radius: 0.5rem;
  width: 100%;
  padding: 30px;
  margin-top: 2rem;
  .relative-container {
    position: relative;
    margin-bottom: 2rem;
    p {
      display: inline-block;
      margin: 0;
      position: relative;
      top: -7px;
      left: 5px;
    }
  }
  h1 {
    display: inline-block;
    font-size: 2rem;
  }

  h2:nth-of-type(2) {
    color: $light-green;
    margin-top: 0.5rem;
  }
}

.button {
  color: white;
  background-color: $light-green;
  border-radius: 4rem;
  padding: 15px 40px;
  font-weight: 500;
  float: left;
  line-height: 32px;
  justify-content: center;
  cursor: pointer;
  &:hover {
    background-color: $dark-green;
  }
}

.height-100 {
  height: 100%;
}

.black-button {
  float: right;
  position: relative;

  img {
    height: 59px;
  }
}

.width-100 {
  width: 100%;
}

.left-align {
  text-align: left;
}

.article-1 {
  padding-top: 3rem;
  position: relative;
  top: -50px;
}
.logo-wrapper {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(50%, -50%);
}

.backers {
  h1 {
    font-size: 2rem;
    margin-top: 2rem;
  }
  p {
    margin-top: 0.5rem;
  }
  &:nth-of-type(1) {
    h1 {
      margin-top: 0;
    }
  }
  &:nth-of-type(2) {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
  }
}

.line {
  border-bottom: 1px solid $grey;
  width: 20%;
  margin: 0 auto;
}
.progress-bar {
  width: 100%;
  background-color: $light-grey;
  border-radius: 2rem;
  height: 20px;
}

.inner-progress {
  background-color: $dark-green;
  height: 100%;
  width: 80%;
  border-radius: 2rem;
}

.reward-popup {
  position: absolute;
  z-index: 2;
  top: 130px;
  width: 90%;
  margin-left: 5%;
}
.select-icon-container {
  display: inline-block;
  padding: 6px;
  border: 1px solid $grey;
  border-radius: 4rem;
  vertical-align: middle;
  cursor: pointer;
}
.select-icon {
  border-radius: 10rem;
  width: 15px;
  height: 15px;
  background-color: white;
}
.header-inline {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

.reward-article-3 {
  h1,
  h2,
  p {
    opacity: 0.5;
  }
}

.reward-header-container {
  height: 52px;
  &:hover {
    cursor: pointer;
  }
  &:hover h2:nth-of-type(1) {
    color: $light-green;
  }
}

.active-border {
  border: 2px solid $dark-green;
}

.active-icon {
  background-color: $dark-green;
}

.pledge-buttons {
  height: 62px;
  width: 100%;
}

.enter-pledge {
  text-align: center;
  width: 100%;
  border-top: 1px solid $grey;
  .button {
    float: right;
  }
}
.border-bottom {
  border-bottom: 1px solid $grey;
}

.pledge-input {
  margin-right: 2rem;
  border: 1px solid $light-grey;
  float: right;
  padding: 15px 20px;
  border-radius: 4rem;
  width: 120px;
  height: 62px;
  position: relative;

  p {
    margin: 0;
    display: inline-block;
    color: #ccc;
    position: relative;
    right: -10px;
  }
  input {
    height: 32px;
    text-align: center;
    outline: none;
    border: none;
    width: 80%;
    line-height: 100%;
  }
}

.thank-you {
  position: absolute;
  z-index: 2;
  top: 130px;
  width: 90%;
  margin-left: 5%;
  img {
    margin-bottom: 2rem;
  }
  .button {
    width: 126px;
    display: inline-block;
    margin: 0 auto;
    float: none;
  }
}
.reward-article-3 {
  .float-container {
    margin-left: 42px;
  }
}
// Hide desktop elements
.desktop-image,
.desktop-nav-right {
  display: none;
  li {
    cursor: pointer;
  }
}

@media screen and (min-width: 1052px) {
  // Hide mobile elements
  .mobile-image {
    display: none;
  }

  .dropdown-button {
    display: none;
  }

  // Show desktop elements
  .desktop-image {
    display: block;
  }

  .header-background-desktop {
    background: url("../images/image-hero-desktop.jpg");
    background-size: 100% 100%;
  }

  .navbar {
    top: 40px;
    margin-left: 10%;
    width: 80%;
  }

  .desktop-nav-right {
    display: block;
    float: right;
    ul {
      list-style-type: none;
    }
    li {
      display: inline-block;
      margin-left: 2rem;
    }
  }

  .main-content-wrapper {
    width: 50%;
  }
  .filter {
    filter: invert(34%) sepia(78%) saturate(448%) hue-rotate(127deg)
      brightness(98%) contrast(90%);
  }

  .bookmark-wrapper {
    height: 100%;
    background-color: $light-grey;
    border-radius: 4rem;
    cursor: pointer;
    &:hover img {
      filter: invert(100%) sepia(0%) saturate(1666%) hue-rotate(266deg)
        brightness(72%) contrast(76%);
    }
    &:hover p {
      filter: invert(100%) sepia(0%) saturate(1666%) hue-rotate(266deg)
        brightness(72%) contrast(76%);
    }
    img {
      display: inline-block;
    }

    p {
      display: inline-block;
      margin: 0;
      line-height: 0;
      margin-left: 1rem;
      margin-right: 1rem;
      position: relative;
      top: -22px;
    }
  }

  .flex-container {
    display: flex;
  }
  .margin-bottom {
    margin-bottom: 2rem;
  }
  .backers {
    flex: 1;
    &:nth-of-type(3) {
      border-left: 1px solid $grey;
      border-right: 1px solid $grey;
    }
    h1 {
      margin-top: 0;
    }
    p {
      margin-bottom: 0;
    }
  }
  .line {
    display: none;
  }
  .float-container {
    width: 100%;
    h2:nth-of-type(1) {
      float: left;
    }
    h2:nth-of-type(2) {
      float: right;
      margin-top: 0;
    }
    .relative-container {
      float: left;
    }
    a {
      float: right;
    }
  }
  .inner-base {
    position: relative;
  }
  .reward-popup {
    width: 50%;
    left: 50%;
    margin-left: 0;
    transform: translate(-50%, 0);
    min-width: 675px;
    .float-container {
      h2 {
        margin-left: 2rem;
      }
    }
    .relative-container {
      float: none;
      position: absolute;
      top: 30px;
      right: 30px;
    }
  }
  .reward-article-3 {
    .float-container {
      h2:nth-of-type(2) {
        float: left;
      }
    }
  }
  .float-left {
    float: left;

    p {
      vertical-align: middle;
      margin: 0;
      line-height: 62px;
    }
  }
  .enter-pledge {
    height: 62px;
    margin: 2rem 0;
    padding-top: 2rem;
  }
  .pledge-button {
    float: right;
  }

  .thank-you {
    width: 50%;
    margin-left: 25%;
  }
}
